    *{
    margin: 0;
    /*background-color: rgb(221, 240, 244); /* Cambia el color de fondo de la página */
    box-sizing: border-box;
   }

    body{
    background: url('IMG/purplefont.jpg') no-repeat;
    background-size: cover;
    font-family: "Century Gothic",sans-serif;

    }
    .Box{
    width: 500px;
    background: rgba(0,0,0,.4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10%;
    }

    }
    .Box box-img{
    border-radius: 25%;
    width: 100%;
    }

    .Box h1{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;

    }
    .Box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 20px;

    }
    .p{
    text-align: justify;
    }
    .contenedor{
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    .contenedor a{

    font-size: 25px;
    transition: all ease 300ms;

    }
    .contenedor a: hover{
    transform: scale(1.2);
    }

